---
import Layout from '../../layouts/Layout.astro';
import About from '../../components/home/About.astro';
import Projects from '../../components/home/Projects.astro';
import Experience from '../../components/home/Experience.astro';
import Contact from '../../components/home/Contact.astro';
import Skills from '../../components/home/Skills.astro';
import Footer from '../../components/home/Footer.astro';
---

<Layout title="Darynka Tapia — Web portfolio">
	<main>
		<About />
		<Projects />
		<Experience />
		<Skills />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
</style>
