---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/About.astro';
---

<Layout title="Darynka Tapia">
	<main>
		Darynka Tapia
		<About />
	</main>
</Layout>

<style>
</style>
