---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/About.astro';
import Currently from '../components/home/Currently.astro';
import Skills from '../components/home/Skills.astro';

---

<Layout title="Darynka Tapia — Web portfolio">
	<main>
		<About />
		<Currently />
		<Skills />
	</main>
</Layout>

<style>
</style>
