---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="about">
  <div class="about__information">
    <h1>{t('about.greats')} <span>Darynka</span> 👋</h1>
    <div class="paragraphs">
      <p><span>{t('about.area')} </span> {t('about.experience')}  </p>
      <p>{t('about.self-taught-first')} <span>{t('about.self-taught')} </span> {t('about.self-taught-end')} </p>
    </div>
    <button> {t('about.call-action')} </button>
  </div>
  <div class="about__ilustration">
    <img src="/images/ilustration-1.svg" class="ilustration" alt="">
    <img src="/images/photo.png" class="photo" alt="">
    <a class="download-cv" href="#"> {t('about.download')} </a>
  </div>
  
</div>

<style lang="scss">
  .about{
    @apply grid grid-cols-1	sm:grid-cols-2;
    &__information{
      @apply py-5 px-5 sm:px-20 flex flex-col gap-6;
      color: var(--web-light);
      & h1{
        @apply text-[26px] sm:text-[32px];
      }
      & span {
        color: var(--web-blue);
      }
      & .paragraphs{
        @apply flex flex-col gap-6;
        & p{
          @apply text-[20px] sm:text-[28px]
        }
      }
      & button{
        @apply w-full p-3 rounded-2xl text-lg font-medium max-w-[390px];
        background-color: var(--web-blue);
        color: var(--web-dark);
      }
    }
    &__ilustration{
      @apply mx-auto first-letter:w-auto;
      .ilustration{
        @apply relative top-12;
      }
      a.download-cv{
        @apply text-2xl font-medium text-center p-3 w-full block;
        color: var(--web-blue);
      }
    }

  }
</style>