---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="currently">
  <img src="/images/ilustration-2.svg" alt="" class="currently__ilustration">
  <div class="currently__list">
    <div class="items">
      <p>🌱 {t('currently.paragraphe-1')} </p>
      <p>💻 {t('currently.paragraphe-2')} </p>
      <p>💬 {t('currently.paragraphe-3')} </p>
    </div>
    
  </div>
</div>

<style lang="scss">
  .currently{
    &__ilustration{
      @apply relative top-[76px] px-5 sm:px-10;
    }
    &__list{
      @apply py-20 px-5 sm:px-10;
      background-color: var(--web-dark-mid);
      & .items{
        @apply flex flex-col gap-4 mx-auto;
        max-width: 820px;
        & p{
          @apply text-xl sm:text-2xl font-normal sm:font-medium;
          color: var(--web-light);
        }
      }
    }
  }
</style>
