<div class="languaje">
  <img src="/images/Translation-dark.png" alt="">
  <select name="" id="">
    <option value="english">English</option>
    <option value="spanish">Spanish</option>
    <option value="french">French</option>
  </select>
</div>

<style>
  .languaje{
    @apply flex justify-center items-center gap-1 sm:gap-2 py-1 px-2 sm:px-4 rounded-2xl text-xs sm:text-sm;
    background-color: var(--web-dark-mid);
  }
  .languaje select{
    @apply outline-none;
    color: var(--web-light);
    background-color: var(--web-dark-mid);

  }

</style>
