---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="links">
  <a href="https://github.com/Darynka-Tapia" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/abril-tapia/" target="_blank">Linkedin</a>
</div>

<style>
  .links {
    @apply flex justify-center items-center gap-2 sm:gap-5 text-xs sm:text-sm;
    color: var(--web-blue);
  }
</style>