
<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>

<style>
.switch {
  @apply relative inline-block w-10 h-6 sm:w-14 sm:h-8;
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0;
  background-color: var(--web-dark-mid);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  @apply absolute w-[16px] h-[16px] sm:h-[22px] sm:w-[22px] rounded-full;
  content: "";
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px var(--web-blue);
  background: var(--web-dark-mid);
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--web-blue);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px var(--web-dark-mid);
}
</style>