---
import Header from '../components/header/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi, I'm Darynka, I'm web developer with more than 4 years of experience." />
		<meta property="og:image" content="/images/photo.png" />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	:root {
		--web-dark: #0F172A;
		--web-dark-mid: #1E293B;
		--web-light: #F3F4F6;
		--web-blue: #0891B2;
	}
	html {
		font-family: 'Poppins', sans-serif;
		background: var(--web-dark);
	}
</style>
